@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* h1 {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/michael-krahn-eGD69I3ODC4-unsplash\ \(1\).jpg');
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Norse-Bold;
  font-size: 25px;
  height: 25vh;
  width: 100vw;
  background-color: #fafafa;
  opacity: 0.5;
}

.right {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: #fafafa;
}

.writing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
  height: 35vh;
}

.middle {
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  height: 35vh;
}

form {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  justify-content: space-between;
  width: 80%;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 200px;
  border-color: #E5E7EB;
  height: 25px;
}

input:focus {
  border: blue;
}

.bottom {
  height: 30vh;
}

.btn {
  color: white;
  background-color: #596D48;
  border-radius: 5px;
  font-size: 25px;
}

